@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);



/* popins  font*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.navbar {
  background-color: transparent; /* Set the initial background color to transparent */
  transition: background-color 0.3s; /* Add a smooth transition for the background color change */
}

.navbar.navbar-scrolled {
  background-color: white; /* Change the background color to white when scrolled */
}
.star-rating {
  display: inline-block;
}

.star-filled {
  color: gold; /* or any other color for filled stars */
}

.star-empty {
  color: #ccc; /* or any other color for empty stars */
}

.star-half {
  color: #ffc107; /* or any other color for half stars */
}

.restaurant-list {
  width: 300px; /* Adjust the width as desired */
  height: 100px; /* Set the height to 100px */
  overflow-y: scroll; /* Add scrollbars if content exceeds the height */
}

/* Add these styles to your CSS */
/* Menu.css */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.card-overlay {
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}

.card-img {
  max-width: 100%;
  height: auto;
}

.overlay-text {
  margin: 10px 0;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

.buy-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.buy-button:hover {
  background: #0056b3;
}

@tailwind base;
@tailwind components;
@tailwind utilities;